Google.Protobuf.dll
Google.Protobuf.pdb
Google.Protobuf.xml
K4os.Compression.LZ4.dll
K4os.Compression.LZ4.Streams.dll
K4os.Compression.LZ4.Streams.xml
K4os.Compression.LZ4.xml
K4os.Hash.xxHash.dll
K4os.Hash.xxHash.xml
Microsoft.AspNetCore.Authentication.Abstractions.dll
Microsoft.AspNetCore.Authentication.Abstractions.xml
Microsoft.AspNetCore.Authentication.Core.dll
Microsoft.AspNetCore.Authentication.Core.xml
Microsoft.AspNetCore.Authorization.dll
Microsoft.AspNetCore.Authorization.Policy.dll
Microsoft.AspNetCore.Authorization.Policy.xml
Microsoft.AspNetCore.Authorization.xml
Microsoft.AspNetCore.Hosting.Abstractions.dll
Microsoft.AspNetCore.Hosting.Abstractions.xml
Microsoft.AspNetCore.Hosting.Server.Abstractions.dll
Microsoft.AspNetCore.Hosting.Server.Abstractions.xml
Microsoft.AspNetCore.Http.Abstractions.dll
Microsoft.AspNetCore.Http.Abstractions.xml
Microsoft.AspNetCore.Http.dll
Microsoft.AspNetCore.Http.Extensions.dll
Microsoft.AspNetCore.Http.Extensions.xml
Microsoft.AspNetCore.Http.Features.dll
Microsoft.AspNetCore.Http.Features.xml
Microsoft.AspNetCore.Http.xml
Microsoft.AspNetCore.Mvc.Abstractions.dll
Microsoft.AspNetCore.Mvc.Abstractions.xml
Microsoft.AspNetCore.Mvc.ApiExplorer.dll
Microsoft.AspNetCore.Mvc.ApiExplorer.xml
Microsoft.AspNetCore.Mvc.Core.dll
Microsoft.AspNetCore.Mvc.Core.xml
Microsoft.AspNetCore.Mvc.DataAnnotations.dll
Microsoft.AspNetCore.Mvc.DataAnnotations.xml
Microsoft.AspNetCore.ResponseCaching.Abstractions.dll
Microsoft.AspNetCore.ResponseCaching.Abstractions.xml
Microsoft.AspNetCore.Routing.Abstractions.dll
Microsoft.AspNetCore.Routing.Abstractions.xml
Microsoft.AspNetCore.Routing.dll
Microsoft.AspNetCore.Routing.xml
Microsoft.AspNetCore.StaticFiles.dll
Microsoft.AspNetCore.StaticFiles.xml
Microsoft.AspNetCore.WebUtilities.dll
Microsoft.AspNetCore.WebUtilities.xml
Microsoft.Bcl.AsyncInterfaces.dll
Microsoft.Bcl.AsyncInterfaces.xml
Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
Microsoft.DotNet.PlatformAbstractions.dll
Microsoft.Extensions.Configuration.Abstractions.dll
Microsoft.Extensions.Configuration.Abstractions.xml
Microsoft.Extensions.DependencyInjection.Abstractions.dll
Microsoft.Extensions.DependencyInjection.Abstractions.xml
Microsoft.Extensions.DependencyInjection.dll
Microsoft.Extensions.DependencyInjection.xml
Microsoft.Extensions.DependencyModel.dll
Microsoft.Extensions.FileProviders.Abstractions.dll
Microsoft.Extensions.FileProviders.Abstractions.xml
Microsoft.Extensions.FileProviders.Embedded.dll
Microsoft.Extensions.FileProviders.Embedded.xml
Microsoft.Extensions.Hosting.Abstractions.dll
Microsoft.Extensions.Hosting.Abstractions.xml
Microsoft.Extensions.Localization.Abstractions.dll
Microsoft.Extensions.Localization.Abstractions.xml
Microsoft.Extensions.Localization.dll
Microsoft.Extensions.Localization.xml
Microsoft.Extensions.Logging.Abstractions.dll
Microsoft.Extensions.Logging.Abstractions.xml
Microsoft.Extensions.ObjectPool.dll
Microsoft.Extensions.ObjectPool.xml
Microsoft.Extensions.Options.dll
Microsoft.Extensions.Options.xml
Microsoft.Extensions.Primitives.dll
Microsoft.Extensions.Primitives.xml
Microsoft.Extensions.WebEncoders.dll
Microsoft.Extensions.WebEncoders.xml
Microsoft.Net.Http.Headers.dll
Microsoft.Net.Http.Headers.xml
Microsoft.OpenApi.dll
Microsoft.OpenApi.pdb
Microsoft.OpenApi.xml
Microsoft.Web.Infrastructure.dll
MySql.Data.dll
MySql.Data.xml
Newtonsoft.Json.dll
Newtonsoft.Json.xml
PROG8060-Group.dll
PROG8060-Group.dll.config
PROG8060-Group.pdb
Renci.SshNet.dll
Renci.SshNet.xml
Swashbuckle.AspNetCore.Swagger.dll
Swashbuckle.AspNetCore.SwaggerGen.dll
Swashbuckle.AspNetCore.SwaggerUI.dll
Swashbuckle.Core.dll
System.Buffers.dll
System.Buffers.xml
System.ComponentModel.Annotations.dll
System.Diagnostics.DiagnosticSource.dll
System.Diagnostics.DiagnosticSource.xml
System.Memory.dll
System.Memory.xml
System.Net.Http.Formatting.dll
System.Net.Http.Formatting.xml
System.Numerics.Vectors.dll
System.Numerics.Vectors.xml
System.Runtime.CompilerServices.Unsafe.dll
System.Runtime.CompilerServices.Unsafe.xml
System.Runtime.InteropServices.RuntimeInformation.dll
System.Text.Encodings.Web.dll
System.Text.Encodings.Web.xml
System.Text.Json.dll
System.Text.Json.xml
System.Threading.Tasks.Extensions.dll
System.Threading.Tasks.Extensions.xml
System.ValueTuple.dll
System.ValueTuple.xml
System.Web.Helpers.dll
System.Web.Helpers.xml
System.Web.Http.dll
System.Web.Http.WebHost.dll
System.Web.Http.WebHost.xml
System.Web.Http.xml
System.Web.Mvc.dll
System.Web.Mvc.xml
System.Web.Razor.dll
System.Web.Razor.xml
System.Web.Webpages.Deployment.dll
System.Web.Webpages.Deployment.xml
System.Web.Webpages.dll
System.Web.Webpages.Razor.dll
System.Web.Webpages.Razor.xml
System.Web.Webpages.xml
Ubiety.Dns.Core.dll
WebActivatorEx.dll
Zstandard.Net.dll
roslyn
x64
BouncyCastle.Crypto.dll
Debug
Release
.vs/
