PROG8060-Group/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
PROG8060-Group/obj/Debug/DesignTimeResolveAssemblyReferences.cache
PROG8060-Group/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
PROG8060-Group/obj/Debug/PROG8060-Group.csprojAssemblyReference.cache
obj
bin
